.logo-container {
  // width: 400px;
  // height: 600px;
  // position: absolute;
  // right:
  position: absolute;
    left: 85%;
    top: 45%;
    transform: translateY(-50%);
    margin-left: -200px;
    max-height: 50%;

  .photo {
   width: 225px;
    height: 300px;
  }
}

